@charset "utf-8";
.banner {
}
.site_title {
    text-align: center;
    color: #023B5F;
    font-size: 38px;
}


.fluid {
    width: 100%;
    height: 250px;
}
.site_image {
    width: 100%;
    height: 100%;
}
